<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<div id="library_map" style="width: 500px; height: 500px;"></div>
<script>
  var map = new OpenLayers.Map("library_map");
  var mapnik = new OpenLayers.Layer.OSM();
  map.addLayer(mapnik);

  var lonlat = new OpenLayers.LonLat(<%= library.longitude %>, <%= library.latitude %>)
    .transform(
      new OpenLayers.Projection("EPSG:4326"),
      new OpenLayers.Projection("EPSG:900913")
    );
  var zoom = 15;

  var markers = new OpenLayers.Layer.Markers("Markers");
  markers.addMarker(new OpenLayers.Marker(lonlat));
  map.addLayer(markers);

  map.setCenter(lonlat, zoom);
</script>
